
body,html {height: 100%;}
#wrap {
 min-height: 100%;
  height: auto;
  margin: 0 auto -70px;

  padding-bottom: 70px;	
}
a:hover {text-decoration: none;}
body {font-family: 'Open Sans',Arial,Helvetica,sans-serif; padding-top: 90px;}
body {
background: #f6f6f6;
background: -moz-radial-gradient(center, ellipse cover,  #f6f6f6 0%, #e2e2e2 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f6f6f6), color-stop(100%,#e2e2e2));
background: -webkit-radial-gradient(center, ellipse cover,  #f6f6f6 0%,#e2e2e2 100%);
background: -o-radial-gradient(center, ellipse cover,  #f6f6f6 0%,#e2e2e2 100%);
background: -ms-radial-gradient(center, ellipse cover,  #f6f6f6 0%,#e2e2e2 100%);
background: radial-gradient(ellipse at center,  #f6f6f6 0%,#e2e2e2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e2e2e2',GradientType=1 );

}
.navbar {background-color: #fff; border-bottom: 3px solid #e0e0e0; color: #333;}
h1 {font-size: 27px;}
.navbar a:hover, .navbar-default .navbar-nav>li>a:hover {color: #999; text-decoration: none;}
.navbar-nav li {border-right: 1px solid #f6f6f6; font-size: 18px; padding: 8px 5px;}
.navbar-nav li:hover {background: #f6f6f6;}
.navbar-nav li:hover a {color: #555; }
.navbar-nav li.last:hover {background: none;}
.navbar-nav li.last {border-right: 0px;}
.navbar-default .navbar-nav>li>a {color: #0682b7;}
.navbar-brand {line-height: 1px; padding: 10px; margin-left: 0px !important;}
.navbar-form {margin-top: 12px;}
.navbar-form .fa {color: #0682b7;}
.navbar-form input {border: 0px; color: #999; outline: none;}
.navbar-right.dropdown {margin: 13px 15px 0px 10px;}
.dropdown a.dropdown-toggle {display: block;}
.dropdown-menu li a {color: #888; padding: 8px 15px 8px 15px; margin: 0px; display: block;}
.dropdown-menu li {margin: 0px;}
.dropdown-menu {padding: 0px;}
.dropdown-menu .divider {margin: 0px;}

.border-left {border-left: 1px solid #f6f6f6;}
.border-right {border-right: 1px solid #f6f6f6;}

.navbar div.border-left.signout, .navbar div.border-left.upload {border-left: 1px solid #f6f6f6; padding: 10px 10px 10px 15px; margin-top: 10px;}

.nav-btns {margin-top: 17px; margin-right: 15px;}
.nav-btns a {padding-left: 10px; padding-right: 9px; font-size: 21px;}
.nav-btns a.border-left { border-left: 1px solid #f6f6f6;}
.nav-btns .btn-default {background: #0682b7; color: #fff;}

div.form-group {margin: 20px 10px;}
div.form-group label {color: #888;}
div.form-group .form-control {font-size: 18px; color: #545454;}
footer {text-align: center; height: 70px; width: 100%; padding: 15px 0px 0px 0px; border-top: 3px solid #e0e0e0; background: #fff; color: #777;}
footer ul {list-style: none;}
footer ul li {display: inline; margin: 0px 20px 10px 0px;}
footer span.version {font-size: 12px; color: 3888;}
h2.profile-panel {color: #555; }
div.profile-details {font-size: 18px;}
.row.main-content a {}

.btn-default {color: #888;}
.panel-footer, .panel-heading {padding: 20px;}
.panel-footer-success,.panel-default>.panel-heading-success {background: #2e9fcf; color: #fff;}

.panel-footer .border-left {border-left: 1px solid #333;}
.panel-footer .border-right {border-right: 1px solid #DDD;}
.panel-body h4 {color: #0682b7; margin: 25px 0px 10px 0px;}

.panel-body h5 { font-size: 12px; text-transform: uppercase; color: #aaa;}

.photo-menu {margin-top: 3px;}
div.page-controls-header {padding-top: 20px;}
ul.user-dropdown {top: 50px; border-radius: 0px; min-width: 250px;}

.img-box {padding: 3px; background: #eee; margin-bottom: 15px; border: 1px solid #fff;}
.img-box .form-switches {padding: 3px; text-align: right; margin:5px;}
.img-box .holder {text-align: center; height: 300px; background: #000; margin: 5px 0px; overflow:hidden;}
.holder:before {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.holder img {display: inline-block; vertical-align: middle;}

.photo-sidebar {padding: 0px;}
.photo-sidebar>.panel {min-height: 100%;}
.photo-sidebar>.panel>.panel-body {padding-bottom:0px;}
.collection-cover {margin-bottom: 15px;}
.collection-cover .title {padding: 3px; color: #fff; font-weight: bold; background: #0682b7; text-align: center;}

.sidebar-item, .photo-buttons {margin-bottom: 10px;}
.photo-author .avatar {float: left; margin-right: 10px; width: 60px; height: 60px; }
.photo-author .name  {float: left;padding-top: 5px;}

.photo-buttons {padding: 10px;}
.photo-author .name .author a {font-weight: bold; font-size: 18px;}
.btn-blue {background: #0089BF; color: #fff;}
.btn-blue:hover {background: #05739E; color: #fff;}

.space-top {margin-top: 50px;}

@media (min-width: 992px) {
	div.hold {text-align: center; height: 620px;} 
	.panel-heading>.pull-left.title {width: 240px; overflow: hidden;}
}

div.hold:before {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.photo-holder {padding: 0px; background: #333; overflow: hidden;}
.photo-holder img {vertical-align: middle; display: inline-block; position: relative;}

.collection {padding: 10px; background: #f7f7f7; display:block; text-align: center; color: #888;}
.collection:hover {color: #666; text-decoration: none;}
div.photo-description {max-height: 100px; background: #000; color: #aaa; font-size: 12px; padding: 10px; text-align: left; overflow-y: scroll; position: absolute; bottom: 0px; 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;}
div.comments {background: #f0f0f0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 350px; padding: 10px; overflow-x: hidden; overflow-y: scroll; margin-top: 15px;}
div.comment-footer {border-top: 0px; background: #f6f6f6; padding: 7px;}
div.comment-box {float: left; width: 85%;}
div.comment-box .comment-txt {display: block; height: 42px; padding: 10px; color: #777; resize: none; overflow:hidden;}
div.cog {float: right; width: 14%; text-align: center;}
div.cog .fa {color: #888;}
div.likes {color: #AAA;}
div.likes span {margin: 0px 5px; font-size: 12px;}
div.likes span a {color: #AAA;}
div.no-comments {color: #999; font-weight: bold; text-shadow: 1px 2px 0px #fff; text-align: center; margin-top: 30px;}

.media span.time {color: #888; font-size: 12px; display: block;}
.profile-header {margin-top: -22px; padding-top: 30px;
background: #424242;
background: -moz-linear-gradient(top,  #424242 1%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#424242), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #424242 1%,#000000 100%);
background: -o-linear-gradient(top,  #424242 1%,#000000 100%);
background: -ms-linear-gradient(top,  #424242 1%,#000000 100%);
background: linear-gradient(to bottom,  #424242 1%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#000000',GradientType=0 );

}

.collection-header {margin-top: -22px; padding-top: 30px; padding-bottom: 30px;
background: #1e5799;
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#2989d8));
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 100%);
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 100%);
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 100%);
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=0 );


}
.collection-header div.sub-heading {color: #D9F4FF; padding-left: 10px;  text-shadow: 1px 2px 0px #001838;}
.collection-header h1 {margin-bottom: 0px; text-shadow: 1px 2px 0px #001838;}
.collection-header div.description {margin-top: 20px; text-indent: 15px; color: #D9F4FF; font-size: 15px; text-shadow: 1px 2px 0px #001838;}
.collection-header a {color: #fff;}
.collection-header a:hover {color: #B1B8BC; }
.profile-header h1, .collection-header h1 {color: #fff;}
.profile-header .picture {text-align:center;}
.profile-header .picture img {margin-bottom: 5px; margin: 0 auto;}
img.avatar {padding: 5px; background: #fff;}

.profile-header .username {color: #888; padding-top: 10px;}
.profile-header .user-meta span {margin: 0px 10px;}
.user-meta {margin-top: 20px;} 


.user-meta .links {margin-top: 40px;}
.user-meta .links span .fa {color: #999;}
.user-numbers div { width: 120px; margin: 0px 1px; float: left; text-align: center;}
.user-numbers span.count {font-size: 25px; display: block;}
.user-numbers span.label {font-size: 14px; color: #ccc;}
.row.main-content.profile {padding-top: 30px; margin-bottom: 30px;}
.user-numbers {margin-top:10px;}
.user-numbers div a {display: block;  background: #222; color: #999;}
.user-numbers div a:hover, .user-numbers div a.active {background: #333;}
@media (max-width: 1116px) {


  .user-numbers div {width: 95px;}
  .user-numbers span.count {font-size: 21px; display: block;}
  .user-numbers span.label {font-size: 12px; color: #ccc;}
 
}
@media (max-width: 992px) {

  
  .user-numbers {float: none !important; margin-top: 35px;}
  .user-numbers div {width: 95px;}
  .user-numbers span.count {font-size: 19px; display: block;}
  .user-numbers span.label {font-size: 12px; color: #ccc;}

}
.photo-grid {text-align: center; margin-bottom: 30px;}
.profile .photo-item {padding: 4px 3px;}
.photo-item .photo-meta {display: none; background: #000; color: #fff; position: absolute; bottom: 4px; padding: 5px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.photo-item:hover .photo-meta {display: block; text-align: right;}
div.popover {z-index: 9999;}

.profile h2 {font-size: 21px; text-transform: uppercase; margin: 0px 0px 10px 0px; padding: 0px;}
.collection-stats span, .photo-meta span, .photo-date span {margin: 0px 10px; font-size: 12px; color: #999;}
.collection-stats, .photo-meta, .photo-date  { height: 22px; overflow: hidden;}
.photo-meta {text-align: right; margin-top: 5px;}
.photo-date {margin-top: 5px;}

.chosen .panel, .chosen .panel-body {background: #EDFAFF;}
.drag {cursor: move;}
.collection-item:hover .handle {display: block;}
.collection-item h5 {height: 13px; overflow: hidden;}
.save-manage {margin-bottom: 10px;}












